
#kanto {
    h1 {
        letter-spacing: -4px;
        margin: 0;
    }
}

.kanto-home {
    margin: 6rem 0 0;

    header {
        padding: 2rem;

        ._container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    a {
        color: #fff;
    }
}
