<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title>Kanto</title>
        <link rel="stylesheet" href="dist/kanto.min.css?v=1.0.1">
    </head>
    <body>
        <div id="kanto" class="kanto-create">
            <div class="_container">
                <main class="_grid">
                    <div id="kanto-editor">
                        <div class="_container">
                            <nav>
                                <button data-open="#game-editor">Game</button>
                                <button data-open="#map-editor">Maps</button>
                                <button data-open="#tile-editor" data-mode="tiles">Tiles</button>
                                <button data-open="#att-editor" data-mode="atts">Atts</button>
                                <button data-open="#properties-editor">Properties</button>
                            </nav>
                            <div id="game-editor" class="editor -active">
                                <div class="general-editor-display">
                                    <h3>Game Properties</h3>
                                    <div class="editor-data-line">
                                        <span>Game Name: </span>
                                        <input type="text" name="editor-game-name" data-property="game_name" class="editor-map-property">
                                    </div>
                                    <div class="editor-data-line">
                                        <span>Player Sprite: </span>
                                        <input type="number" name="editor-game-sprite" data-property="game_sprite" class="editor-map-property">
                                    </div>
                                </div>
                                <div class="general-editor-options">
                                    <button data-open="#editor-saved-games">Load Game</button>
                                    <button data-open="#editor-publish-game">Publish Game</button>
                                </div>
                            </div>
                            <div id="map-editor" class="editor">
                                <div class="general-editor-display">
                                    <div class="_grid -col-2 -gap-15">
                                        <div>
                                            <h3>Maps</h3>
                                            <ol id="editor-maps-list" class="-styled"></ol>
                                            <ul "></ul>
                                        </div>
                                        <div>
                                            <h3>Templates</h3>
                                            <ul id="editor-maps-templates" class="-styled"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="general-editor-options">
                                    <button id="editor-new-map">New Map</button>
                                    <button id="editor-delete-map">Delete Map</button>
                                </div>
                            </div>
                            <div id="tile-editor" class="editor">
                                <div class="general-editor-display">
                                    <img src="assets/graphics/tiles.png">
                                </div>
                                <div class="general-editor-options">

                                </div>
                            </div>
                            <div id="att-editor" class="editor">
                                <div class="general-editor-display">
                                    <p>Select an attribute and hover over + click the map to place it. If the attribute has properties that must be set, they will display here!</p>
                                </div>
                                <div class="general-editor-options">
                                    <button data-att="1">Wall</button>
                                    <button data-att="2">Warp</button>
                                    <button data-att="3">Action</button>
                                    <button data-att="4">Exit</button>
                                    <button data-att="5">NPC</button>
                                    <button data-att="6">NPC Wall</button>
                                    <button data-att="7">Item</button>
                                    <button data-att="8">Wild Battle</button>
                                    <button data-att="9">Tile Event</button>
                                </div>
                            </div>
                            <div id="properties-editor" class="editor">
                                <div class="general-editor-display">
                                    <h3>Map Properties</h3>
                                    <div class="editor-data-line">
                                        <span>Name: </span>
                                        <input type="text" name="editor-map-name" data-property="name" class="editor-map-property">
                                    </div>
                                    <div class="editor-data-line">
                                        <span>Music: </span>
                                        <input type="number" name="editor-map-music" data-property="music" class="editor-map-property">
                                    </div>
                                    <div class="editor-data-line -well">
                                        <p>Start Position:</p>
                                        <span>X: </span><input type="number" name="editor-start-x" data-property="start_x" class="editor-map-property">
                                        <span>Y: </span><input type="number" name="editor-start-y" data-property="start_y" class="editor-map-property">
                                    </div>
                                    <div class="editor-data-line -well">
                                        <p>Map Dimensions:</p>
                                        <span>W: </span><input type="number" disabled name="editor-map-width">
                                        <span>H: </span><input type="number" disabled name="editor-map-height">
                                    </div>
                                </div>
                                <div class="general-editor-options">

                                </div>                           
                            </div>
                            <div id="message-editor" class="_modal _hidden">
                                <div class="modal-inner">
                                    <button class="modal-close">X</button>
                                    <div class="general-editor-display">
                                        <h3>Dialogue Event</h3>
                                        <div class="editor-message-form">
                                            <div class="editor-data-line">
                                                <span>Text:</span>
                                                <textarea name="text"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="general-editor-options">
                                        <div class="editor-message-options-options">
                                            <button id="editor-message-add-option">Add Option</button>
                                            <button id="editor-message-add-response">Add Response</button>
                                            <button id="editor-message-add-pre-callback">Add Pre Callback</button>
                                            <button id="editor-message-add-post-callback">Add Post Callback</button>
                                        </div>
                                        <button id="editor-add-message">Add To Dialogue</button>
                                    </div>
                                </div>
                            </div>
                            <div id="pokemon-editor" class="_modal _hidden">
                                <div class="modal-inner">
                                    <button class="modal-close">X</button>
                                    <div class="general-editor-display">
                                        <h3>New Pokemon</h3>
                                        <div class="editor-pokemon-form">
                                            <div class="editor-data-line">
                                                <span>ID:</span>
                                                <input type="number" name="id"></input>
                                            </div>
                                            <div class="editor-data-line">
                                                <span>Level:</span>
                                                <input type="number" name="level"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="general-editor-options">
                                        <button id="editor-add-pokemon">Add Pokemon</button>
                                    </div>
                                </div>
                            </div>
                            <div id="editor-saved-games" class="editor">
                                <div class="general-editor-display">
                                    <div class="_grid -col-2 -gap-15">
                                        <div>
                                            <h3>Saved Games</h3>
                                            <ul id="editor-saved-games-list" class="-styled"></ul>
                                        </div>
                                        <div>
                                            <h3>Templates</h3>
                                            <ul id="editor-game-templates" class="-styled"></ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="general-editor-options">
                                </div>
                            </div>

                            <div id="editor-publish-game" class="editor">
                                <div class="general-editor-display">
                                    <div>
                                        <h3>Publish Game</h3>
                                        <p>If you would like to publish your game for others to play, click "Publish to Kanto" below.<br><br>This will upload your game and generate a URL for your game to live on that you'll be able to send to others.</p>
                                        <br>
                                        <button id="editor-publish-game">Publish to Kanto</button>
                                    </div>
                                </div>
                                <div class="general-editor-options">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="game">
                        <canvas id="pkmn" tabindex="1"></canvas>
                        <div class="game-footer">
                            <div>
                                <button class="toggle-volume -muted">
                                    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="volume-off"><path fill="currentColor" d="M215.03 71.05L126.06 160H24c-13.26 0-24 10.74-24 24v144c0 13.25 10.74 24 24 24h102.06l88.97 88.95c15.03 15.03 40.97 4.47 40.97-16.97V88.02c0-21.46-25.96-31.98-40.97-16.97zM461.64 256l45.64-45.64c6.3-6.3 6.3-16.52 0-22.82l-22.82-22.82c-6.3-6.3-16.52-6.3-22.82 0L416 210.36l-45.64-45.64c-6.3-6.3-16.52-6.3-22.82 0l-22.82 22.82c-6.3 6.3-6.3 16.52 0 22.82L370.36 256l-45.63 45.63c-6.3 6.3-6.3 16.52 0 22.82l22.82 22.82c6.3 6.3 16.52 6.3 22.82 0L416 301.64l45.64 45.64c6.3 6.3 16.52 6.3 22.82 0l22.82-22.82c6.3-6.3 6.3-16.52 0-22.82L461.64 256z" class=""></path></svg>
                                    <svg role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 480 512" class="volume-on"><path fill="currentColor" d="M215.03 71.05L126.06 160H24c-13.26 0-24 10.74-24 24v144c0 13.25 10.74 24 24 24h102.06l88.97 88.95c15.03 15.03 40.97 4.47 40.97-16.97V88.02c0-21.46-25.96-31.98-40.97-16.97zM480 256c0-63.53-32.06-121.94-85.77-156.24-11.19-7.14-26.03-3.82-33.12 7.46s-3.78 26.21 7.41 33.36C408.27 165.97 432 209.11 432 256s-23.73 90.03-63.48 115.42c-11.19 7.14-14.5 22.07-7.41 33.36 6.51 10.36 21.12 15.14 33.12 7.46C447.94 377.94 480 319.53 480 256zm-141.77-76.87c-11.58-6.33-26.19-2.16-32.61 9.45-6.39 11.61-2.16 26.2 9.45 32.61C327.98 228.28 336 241.63 336 256c0 14.38-8.02 27.72-20.92 34.81-11.61 6.41-15.84 21-9.45 32.61 6.43 11.66 21.05 15.8 32.61 9.45 28.23-15.55 45.77-45 45.77-76.88s-17.54-61.32-45.78-76.86z" class=""></path></svg>
                                </button>
                            </div>
                            <div>
                                <button id="kanto-view-controls-info" class="-sans-uppercase">Controls</button>
                                <div id="kanto-controls-info">
                                    <div class="_well character-oak">
                                        <p>Use the arrow keys to move your character.</p>
                                            <ul>
                                                <li><kbd>E</kbd> to expand a map row.</li>
                                                <li><kbd>T</kbd> to delete a map row.</li>
                                            </ul>
                                    </div>
                                </div>
                                <p id="coords"></p>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        <script src="dist/kanto.min.js?v=1.0.1"></script>
    </body>
</html>

