<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title>Kanto</title>
        <link rel="stylesheet" href="dist/kanto.min.css">
    </head>
    <body>
        <div id="kanto" class="kanto-home">
            <div class="_container">
                <header>
                    <h1>Kanto</h1>
                    <p>v0.1.1</p>
                    <nav>
                        <a href="/play">Play</a>
                        <a href="/create">Create</a>
                        <a href="/library">Library</a>
                    </nav>
                </header>
            </div>
        </div>
        <script src="dist/kanto.min.js"></script>
    </body>
</html>