* {
    box-sizing: border-box;
    word-wrap: break-word;
    -webkit-touch-callout: none;
}

:root {
    font-size: 10px;
}

body {
    font-family: sans-serif;
    // overflow: hidden;
    font-size: 1.6rem;
}

h1, h2, h3, h4, h5 {
    font-family: 'pokemon_gbregular';
}

p {
    margin: 0 0 1rem; 
    font-size: 1.4rem;
}

img {
    max-width: 100%;
}

header {
    margin: 0 0 2rem;
    padding: 4rem 4rem;
    background-color: #f1f1f1;
    text-align: center;

    nav a {
        margin: 0 10px;
    }
}

button,
a._button {
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    padding: 10px 20px;
    font-family: pokemon_gbregular;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: -1px;
    cursor: pointer;

    &:hover {
        border-color: #949494;
        color: #949494;
    }

    &.-sans-uppercase {
        font-family: sans-serif;
        text-transform: uppercase;
        border: none;
        font-size: 1.3rem;
        letter-spacing: 0.2rem;
    }
}

textarea {
    display: block;
}


table {
    border-spacing: 0px;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    background-color: transparent; /* Change the background-color of table here */
    text-align: left; /* Change the text-alignment of table here */
}
  
  th {
    font-weight: bold;
    border: 1px solid #cccccc; /* Change the border-color of heading here */
    padding: 8px;
  }
  
  td {
    border: 1px solid #cccccc; /* Change the border-color of cells here */
    padding: 8px;
  }

  tr {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
  }
  
  th, td {
    border: none;
  }