@font-face {
    font-family: 'pokemon_gbregular';
    src: url('../assets/fonts/pokemon_gb-webfont.woff2') format('woff2'),
         url('../assets/fonts/pokemon_gb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}