#kanto-editor {
    font-size: 1.5rem;
    padding: 20px 0;
    height: 400px;
    background-color: #191919;
    outline: 2px solid #626262;

    nav {
        margin: 0 0 15px;
        text-align: center;
    }

    ul,
    ol {
        padding: 0;
        margin: 0 0 10px;
        list-style-type: none;
    }

    ._container {
        width: calc(480px + 15px);
        padding: 0;
    }

    ul.-styled li,
    ol.-styled li {
        padding: 3px 10px;
        margin: 0 0 5px;
        border-bottom: 2px solid transparent;
        cursor: pointer;

        &.-active {
            background-color: #cedae6;
            border-color: #7caee0;
        }

        &:hover {
            opacity: 0.6;
            background-color: #000000;
            border-bottom: 2px solid #484848;
        }
    }
}

#tile-editor {
    width: 100%;
    margin: 0 auto;

    .general-editor-display {
        padding: 0;
        color: #fff;
    }

    img {
        width: auto;
        max-width: none;
        transform: scale(2);
        transform-origin: top left;
    }
}

.editor {
    display: none;

    &.-active {
        display: block;
    }
}

.general-editor-display {
    padding: 0 15px;
    background-color: #191919;
    height: 260px;
    overflow-y: scroll;

    h3 {
        margin: 1rem 0 1.5rem;
        border-bottom: 2px solid #bbbbbb;
        padding: 0 0 1rem;
    }

    h5 {
        padding: 1rem;
        margin: 0 0 1rem;
        border-bottom: 2px solid black;
    }

    textarea {
        width: 100%;
        min-height: 100px;
        margin: 0.5rem 0 1rem 0;
    }
}

.general-editor-options {
    text-align: right;
    padding: 10px;
    border-top: 2px solid black;

    display: flex;
    overflow: scroll;
    align-items: center;

    button {
        margin: 0.25rem;
        min-width: 150px;
    }
}

.editor-data-line {
    margin: 0 0 1rem;

    label,
    span {
        margin: 0 1rem 0 0;
    }

    &.-well {
        padding: 15px;
        background-color: #191919;
        border: 2px solid #484848;
    }

    input:disabled {
        opacity: 0.5;
    }
}

#att-editor-options {
    padding: 30px;
    background-color: #f1f1f1;
    height: 260px;
    overflow-y: scroll;
}

#coords {
    text-align: right;
    margin: 0;
}

.dialogue-editor-list,
.pokemon-editor-list {
    height: 150px;
    background-color: black;
    margin: 0 0 10px;
    overflow: scroll;

    li {
        position: relative;
        padding: 10px;
        background-color: #fff;
        color: #000;
        font-family: pokemon_gbregular;
        font-size: 9px;
        margin: 10px;

        &[data-depth="1"] {
            margin-left: 30px;
        }
        
        &[data-depth="2"] {
            margin-left: 60px;
        }
        
        &[data-depth="3"] {
            margin-left: 90px;
        }
    }

    div {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        
        button {
            font-size: 0.8rem;
            padding: 7px;
            margin: 0 0 0 5px;
        }
    }
}

.editor-message-options-options {
    text-align: left;
}