._container {
	width: 100%;
    max-width: 950px;
    margin: 0 auto;
	padding: 0 15px;
}

._grid {
	display: grid;
	
	&.-col-2 {
        @include grid_columns(2);
    }
    
	&.-col-3 {
        @include grid_columns(3);
    }

	&.-col-4 {
        @include grid_columns(4);
	}

	&.-col-5 {
        @include grid_columns(5);
	}

	&.-gap-15 {
		grid-gap: 15px;
	}

	&.-gap-25 {
		grid-gap: 25px;
	}

	&.-gap-35 {
		grid-gap: 35px;
    }
}

._well {
    padding: 2.5rem 7rem 2.5rem 2rem;
    background-color: #000;
    margin: 1rem 0;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) calc(100% + 20px);
    background-size: 50px;
    color: #b7b7b7;
    border: 2px solid #404040;

    h3 {
        margin: 0 0 1rem;
    }

    p {
        margin: 0;
    }

    &.-danger {
        background-color: #e6cece;
    }

    &.character-oak {
        background-image: url('../assets/graphics/characters/oak.png');
    }
}

._hidden {
    display: none;
}

._offscreen {
	position: absolute;
	opacity: 0;
	top: -9999px;
	left: -9999px;
	pointer-events: none;
}

._modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.55);
    z-index: 99;
    padding-top: 100px;

    .modal-inner {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
    }

    .modal-close {
        position: absolute;
        top: -5px;
        right: 0;
        transform: translateY(-100%);
    }

    .general-editor-display {
        height: auto;
        padding: 30px 30px 15px 30px;
    }

    .general-editor-options {
        background-color: #191919;
        padding: 15px 30px;
        justify-content: space-between;
    }
}