
#kanto {
    h1 {
        letter-spacing: -4px;
        margin: 0;
    }

    main._grid {
        grid-template-columns: 1fr 400px;
        font-size: 0;
    }
}

#game {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

canvas {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    outline: none;
}

.kanto-play {
    text-align: center;
}

.toggle-volume {
    border: none;
    padding: 0;
    outline: none;
    svg {
        height: 3.5rem;
    }

    .volume-off {
        display: none;
    }
    
    &.-muted {
        .volume-on {
            display: none;
        }

        .volume-off {
            display: inline-block;
        }
    }
}

.game-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }
}

#kanto-controls-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    transform: translateY(-100%);
    width: calc(100% - 1rem);
    opacity: 0;
    transition: 0.6s;
    pointer-events: none;
}

#kanto-view-controls-info {
    padding-right: 0;
    outline: none; 
    
    &:hover,
    &:focus {
        &+#kanto-controls-info {
            opacity: 1;
        }
    }
}