
#kanto {
    h1 {
        letter-spacing: -4px;
        margin: 0;
    }

    ._grid {
        grid-template-columns: 1fr 400px;
        font-size: 0;
    }
}

#game {
    width: 400px;
    margin: 0 auto;
}

canvas {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    outline: none;
}

.kanto-play {
    text-align: center;
}

.toggle-volume {
    border: none;
    padding: 0;
    outline: none;
    svg {
        height: 3.5rem;
    }

    .volume-off {
        display: none;
    }
    
    &.-muted {
        .volume-on {
            display: none;
        }

        .volume-off {
            display: inline-block;
        }
    }
}

.game-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }
}